* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");

.App {
  background-image: url("Weather\ Pic.jpg");
  background-size: cover;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 100vh;
}

h2 {
  font-family: "Lovers Quarrel", cursive;
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.Form {
  /* border: 1px solid black; */
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
  height: 50%;
  border-radius: 10px;
  gap: 5px;
}

@media (max-width: 768px) {
  h4 {
    font-size: xx-small;
  }
}
